<!doctype html>
<html>
<head>
  <title>Planktonics Talks - Working</title>
  <meta charset="utf-8"/>
  <meta
  name="author"
  content="Slava Rykov"
  />
  <meta
  name="description"
  content="Corporate chat app"
  />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="styles/working.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Rubik:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Начальные сообщения для рабочего чата -->
  <script src="package_working.json"></script>

  <!-- Сохранение сообщений в localStorage -->
  <script src="scripts/storage_messages.js"></script>
</head>
<body>
  <header class="header">
    <h1 class="header__title">PLANKTONICS TALKS</h1>
  </header>

  <main class="chat">

    <!-- Блок логина начало -->
    <div class="auth" v-if="!auth">
      <h2 class="auth__title">Sign in</h2>

      <!-- Поле для почты -->
      <input
      type="email"
      class="auth__email"
      autofocus
      placeholder="Введите почту"
      v-model.lazy="user.email"
      >
      <br/>

      <!-- Поле для логина -->
      <input
      type="text"
      class="auth__login"
      placeholder="Введите логин"
      v-model.lazy="user.login"
      >
      <br/>

      <!-- Поле для пароля -->
      <input
      type="password"
      class="auth__password"
      placeholder="Введите пароль"
      v-model.lazy="user.password"
      >
      <br/>
      <button
      class="auth__submit"
      v-on:click="login"
      >
      Войти
      </button>
      <!-- Все данные записываются в переменную текущего пользователя (user) -->
    </div>
    <!-- Блок логина конец -->


    <!-- Блок общения начало -->
    <section class="talking" v-else>

      <!-- Блок дополнительных функций начало -->
      <nav class="navigation">
        <div class="rules">
          <button class="rules__btn" v-on:click="show">Rules</button>
          <article class="article">
            <p class="article__par">
              1. Здесь обсуждаются только рабочие вопросы.
            </p>
            <p class="article__par">
              2. Не спамить.
            </p>
            <p class="article__par">
              3. Не выражаться.
            </p>
          </article>
        </div>

        <!-- Небольшой список задач, данные берутся из массива todos -->
        <div class="todo">
          <button class="todo__btn" v-on:click="show">To do</button>
            <div class="todoList">
              <ul class="list">
                <li
                class="list__task"
                v-for="todo in todos"
                >
                {{ todo }}
                </li>
              </ul>
              <input
              type="text"
              class="todoList__input"
              placeholder="Задача"
              v-model.lazy="task"
              v-on:keyup.enter="addTodo"
              />
            </div>
        </div>
      </nav>
      <!-- Блок дополнительных функций конец -->

      <h2 class="talking__title">Work messages</h2>

      <!-- Блок сообщений начало -->
      <ul class="sent">
        <!-- Данные берутся из массива messages -->
        <li
        class="sent__message"
        v-for="message in messages">
          {{ message.name }}:
          {{ message.text }}
          {{ message.date }}
          <!-- Панель управления сообщением начало -->
          <div
          class="manage"
          v-show="message.from == user.email"
          >
            <input
            type="text"
            class="manage__messageEdit"
            placeholder="Редактировать текст"
            v-model.lazy="edit"
            v-on:focus="edit = message.text"
            v-on:keyup.enter="editing"
            v-on:blur="edit = ''"
            />
            <button
            class=manage__messageDelete
            v-on:click="deleting"
            >X</button>
          </div>
          <!-- Панель управления сообщением конец -->
        </li>
      </ul>
      <!-- Блок сообщений конец -->

      <!-- Блок ввода сообщения начало -->
      <div class="input">
        <input
        type="text"
        autocomplete="off"
        class="input__textInp"
        placeholder="Ваше сообщение"
        v-model="message"
        v-on:keyup.enter="sentMessage"
        >
      </div>
      <!-- Блок ввода сообщения конец -->

    </section>
    <!-- Блок общения конец -->

  </main>

  <!-- Блок футера начало -->
  <footer class="footer">Written by Slava Rykov</footer>
  <!-- Блок футера начало -->
  <script src="scripts/main.js"></script>
</body>
</html>
